.favorites-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    height: 90vh;
    max-width: 100%;
}

.favorites-title {
    grid-row: 1/2;
    margin: auto;
    
}

.favorites-list {
    grid-row: 2/7;
    margin: 0 auto;
    line-height: 3;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: black;
}