.current-weather-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 5fr 2fr 1fr;
    height: 95vh;
    width: 100vw;
    max-width: 100vw;
}

.national-holiday-container {
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.search-container {
    grid-column: 1/5;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}

.empty-fav-icon {
    margin-bottom: -6px;
    margin-right: 25px;
    height: 18px;
    width: 18px;
}

.location-form {
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.location-form:focus {
    outline: none;
}

.location-button {
    background-color: white;
    padding-left: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.location-icon {
    margin-left: 25px;
    margin-bottom: -5px;
    height: 7.5%;
    width: 7.5%;
}

.location-icon:hover {
    cursor: pointer;
}

.current-weather-icon-container {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
}

.empty-fav-icon:hover {
    cursor: pointer;
}

.first-current-weather-info-container {
    grid-column: 3/5;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    line-height: 1.5;
}

.second-current-weather-info-container {
    grid-column: 1/5;
    grid-row: 4/5;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.moon-info-container {
    grid-column: 1/5;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12.5px;
}

.moon-info-title {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moon-phase {
    grid-column: 1/3;
    grid-row: 2/3;
}

.moon-phase-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.moon-img {
    height: 60px;
    width: 60px;
}

.moonrise-section {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.moonset-section {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.weather-forecast-container {
    height: 96vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr repeat(5, 1.5fr);
}

.weather-forecast-title {
    grid-row: 1/2;
    display: flex;
    align-self: center;
    justify-content: center;
}

.forecast-weather-icons {
    height: 36px;
    width: 36px;
}

.forecast-sunrise-icon {
    display: none;
}

.forecast-sunset-icon {
    display: none;
}

.day-one-forecast {
    grid-row: 2/3;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.day-two-forecast {
    grid-row: 3/4;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.day-three-forecast {
    grid-row: 4/5;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.day-four-forecast {
    grid-row: 5/6;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.day-five-forecast {
    grid-row: 6/7;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.contact-me-link {
    display: none;
}