.footer-container {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
    margin: 0;
}

.github-icon {
    height: 24px;
    width: 24px;
}

.linkedin-icon {
    height: 24px;
    width: 24px;
}

.icon-credits-link {
    text-decoration: none;
    color: black;
}

.icon-credits-link:hover {
    cursor: pointer;
}