@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

.container {
    background-image: url('/src/img/weather-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container {
    grid-column: 1/2;
    grid-row: 1/2;
}

.favorites-container {
    grid-column: 1/2;
    grid-row: 2/3
}

.weather-container {
    grid-column: 1/2;
    grid-row: 2/3;
}

.contact-me-container {
    grid-column: 1/2;
    grid-row: 3/4;
}

.footer-container {
    grid-column: 1/2;
    grid-row: 3/4
}