.nav-container {
    height: 5vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid black;
}

.title {
    grid-column: 1/2;
    display: flex;
    justify-self: center;
    align-self: center;
}

.title-font {
    color: black;
    font-weight: 500;
}

.favorites-icon {
    grid-column: 3/4;
    display: flex;
    justify-self: center;
    align-self: center;
}

.nav-links {
    text-decoration: none;
    color: black;
}

.full-fav-icon {
    margin-top: 20%;
    height: 18px;
    width: 18px;
}

.full-fav-icon:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 18px;
    }
    .full-fav-icon {
        height: 26px;
        width: 26px;
    }
}